html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
}

:root {
    --pomodoro: url('/home/anette-bwemere/BlockchainOpen/pomodoroSimplon/assets/undraw_mindfulness_re_bgo0(1).svg');
    --shortBreak: url('assets/lesly-juarez-DFtjXYd5Pto-unsplash.jpg');
    --longBreak: url('assets/jared-rice-NTyBbu66_SI-unsplash.jpg');
}


body {
    background-image: var(--pomodoro);
    background-color: rgb(162, 230, 247);
    transition: background-image 2s ease;
    font-family: 'Tangerine', serif;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    user-select: none;
}