html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --pomodoro: url('/assets/undraw_mindfulness_re_bgo0(1).svg');
    --shortBreak: url('/assets/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg');
    --longBreak: url('/assets/jared-rice-NTyBbu66_SI-unsplash.jpg');
}


body {

    background-color: rgb(203, 229, 235);
    transition: background-image 2s ease;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


.app{

    font-family: 'Tangerine', serif;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    /* user-select: none; */
}
progress {
    border-radius: 4px;
    width: 100%;
    height: 12px;
    top: 0;
    position: fixed;
}


progress::-webkit-progress-bar{
    background-color: rgb(203, 229, 235);
}


progress::wbkit-progress-value {
    background-color: beige;
}

.timer{
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;
    justify-content: center;
    left: 50%;
    right: 50%;
}

.clock{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.mode-button{
    font-size: medium;
    height: 30px;
    cursor: pointer;
    box-shadow: none;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: 1px solid burlywoods;
    margin: 0px;
    border-radius: 5px;
    padding: 2px 12px;
    background: none;
}

.mode-button.active{
    border-color: rgb(255, 183, 0);
    background-color: rgb(203, 229, 235);
    color: rgb(0, 0, 0);
}




.main-button {
     cursor: pointer;
    box-shadow: rgb(125, 166, 176) 0px 6px 0px;
    text-transform: uppercase;
    color: hsl(175, 26%, 41%);
    font-weight: bold;
    background-color: transparent;
    border-radius: 100px;
    transition: color 0.5s ease-in-out 0s; 
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 40px;
    width: 50px;

}

button:focus, button:active {
    outline: none;
  }


  .main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
  }
  
  .hidden {
    display: none;
  }
  
  /* @media screen and (max-width: 550px) {
    .clock {
      font-size: 8rem;
    }
  }
   */